# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Git
*.orig

# Byte-compiled / temporary files
*.swp
*.swo

# Optional: batch output
data/predictions.csv

